<h1>Quizzy</h1>

<div ng-app="Quizzy">
	<div ng-controller="QuizController">
		<div ng-show="quizViewShow">
			<h4 ng-repeat="quiz in quizzes" ng-click="quizSelected(quiz)">
				{{quiz.title}}
			</h4>
		</div>
	</div>

</div>